html {
  background-image: url('galaxy.jpg');
  background-size: cover;
  font-family: sans-serif;
}

.game-container {
  position: relative;
  width: 90%;
  padding-bottom: 90%;
  border: 5px ridge #0077ffd2;
  background-color: #000000ea;
  /* background-image: url('stars.jpg');
  background-size: cover; */
  margin: 5%;
}

@media only screen and (min-width: 800px) {
  .game-container {
    width: 600px;
    padding-bottom: 600px;
    margin: auto;
  }
}

.game-area {
  position: absolue;
  margin: auto;
  width: 100%;
  height: 100%;
}


.snake-dot {
  position: absolute;
  width: 5%;
  height: 5%;
  background: radial-gradient(#FFFFFF, rgb(255, 0, 234));
  border: 1px solid rgb(255, 0, 234);
  border-radius: 10%;
  /* background-image: url('gem.png');
  background-size: cover; */
  /* box-shadow: 2px 5px 10px rgba(0,0,0,0.3); */
}

.snake-food {
  position: absolute;
  width: 5%;
  height: 5%;
  /* background-image: url('lightning.png');
  background-size: cover; */
  background: radial-gradient(#FFFFFF, rgb(255, 217, 0));
  border: 1px solid rgb(255, 217, 0);
  box-shadow: 1px 1px 50px 10px rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 1;
}

.game-over-container {
  position: fixed;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.842);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

h1 {
  color: rgb(255, 240, 154);
  font-size: 40px;
}

span {
  color: rgb(255, 0, 234);
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 25px;
}

button {
  background: linear-gradient(45deg, rgb(194, 0, 178), rgb(0, 82, 175));
  color: white;
  border-radius: 5px;
  font-size: 30px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 2px;
}

.new-game-button {
  height: 50px;
  margin-top: 25px;
  width: 250px;
}

.button-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.arrow-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.arrow-buttons {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}